main{
	   font-family:larger;
	   width: 350px;
	   border: 3px solid whitesmoke;
	   padding: 30px;
	   background: skyblue;
	   border-radius:90px;
	   font-style: italic;
	   font-size: large; 
	   height: 450px;
	   color: black;
   }
   h2{
	text-align: center;
	color:black;
	margin-bottom: 40px;
   }
   
   input{
	   font-style:italic;
	   font-family:larger;
	   border: 2px solid gray;
	   width: 95%;
	   padding: 10px;
	   margin: 10px auto;
	   border-radius: 30px;
   }
   b input{
	background: #00ccbb ;
   }

header a{
	text-decoration: none;
	font-size: larger;
	font-family: larger;
	float:left;
	color:red;
	background: #3A3A36;
	height: 20px;
	
} 
header{
	border-bottom: 4px #272726 solid;
	background: #3A3A36;
	color:orange;
}
 footer{
	border-top: 3px #272726 solid;
	background: #3A3A36;
	color: #BBBBB9;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
 } 
main{
	padding-bottom: 20px;
	background:skyblue;
	color:red;
}


